<ion-view view-title="Câmera">
  <ion-content>
	<h1>Câmera</h1>

	<div class="list">		
	  <label class="item item-input item-select">
		<div class="input-label">
		  Origem:
		</div>	
		<select ng-options="item.nome for item in origem.lista" ng-model="origemItem" ng-change="origem.selecionar(origemItem.value)">
			<option value="">Selecione</option>
		</select>
	  </label>

	</div>
	<div class="list">

	  <label class="item item-input item-select">
		<div class="input-label">
		  Qualidade:
		</div>
		<select ng-options="item.nome for item in qualidade.lista" ng-model="qualidadeItem" ng-change="qualidade.selecionar(qualidadeItem.value)">
			<option value="">Selecione</option>
		</select>
	  </label>

	</div>
	<div class="list">

	  <label class="item item-input item-select">
		<div class="input-label">
		  Encoding:
		</div>
		<select ng-options="item.nome for item in encoding.lista" ng-model="encodingItem" ng-change="encoding.selecionar(encodingItem.value)">
			<option value="">Selecione</option>
		</select>
	  </label>

	</div>
	<button class="button button-full button-positive" ng-click="tirarFoto()">
		getPicture()
	</button>
  </ion-content>
</ion-view>
